from {{model_slug}} import {{model_class}}

def main(example):
    
    ###
    ### Instantiate model class 
    model = {{model_class}}()
    
    
    ###
    ### Load and prepare data


    ###
    ### 
    model.predict({"example":example})
    
if __name__ == "__main__":
    main()