{
    "repository": {
        "clone_url": "{{ clone_url }}"
    },
    "pull_request": {
        "head": {
            "sha": "default",
            "repo": {
                "name": "{{ project_name }}"
            }
        }
    }
}